* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #212124;
	color:white;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
header {
	text-align: center;
}
h1, h2 {
	text-transform: uppercase;
	font-weight: 800px;
	color: white;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
nav {
	background-color: darkred; 
	position: relative;
	clear: both;
}
ul {
	list-style: none;
	padding: 0;	
	margin: 0;
}
li {
  	padding: 10px 10px;
	text-align: center;
	float: left;
	text-align: center;
}
a {
	color: white;
	padding: 1em 0 0 0;
}
nav {
	font-size: 1.8em;
	float: center;
	margin: 0 0 3em 0;
	display: block;
	height: 70px;
	text-align: center;
	clear: both;
}
img {
	display: block;
	height: 100px;
	width: 75px;
	margin: 10px;
	float: left;
}
div {
	background:darkred;
	padding: 2em;
	width: 300px;
	height: auto;
}
footer {
	background-color: darkred;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 1em;
	text-align: center;
	clear: both;
	margin: 0;
}
#one, #three {
	top: 25%;
	left: 20%;
	position: absolute;
}
#two, #four {
	bottom: 25%;
	right: 20%;
	position: absolute;
}
#we {
	height: 50px;
	width: 50px;
	margin: 0 0 10px 0;
}
#intro {
	height: 25vh;
	position:relative;
	margin: 1em 0;
	width: 800px;
	text-align: center;
}
#winter {
	height: 95vh;
	position:relative;
	margin: 1em 0;
	background:url(../photos/december.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}
#spring {
	height: 95vh;
	position:relative;
	margin: 1em 0;
	background:url(../photos/april.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#summer {
	height: 95vh;
	position:relative;
	margin: 1em 0;
	background:url(../photos/summer2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#fall {
	height: 95vh;
	position:relative;
	margin: 1em 0;
	background:url(../photos/fall2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.column{
	float: left;
	width: 30%;
	display: inline;
	padding: 0 0 2em 1em;
	height: auto;
}
.column-center{
	width: 30%;
	display: inline;
	float: left;
	padding: 0 0 2em 1em;
	height: auto;
}
.container {
	clear: both;
}
#fb, #twitter, #pinterest, #instagram, #home, #phone, #mail, #apple, #android, #windows, #share {
	display: inline;
	width: 50px;
	height: 50px;
	padding: .5em;
	margin: 0;
}
#winter-main {
	background: url(../photos/winter.jpg);
	background-position: cover;
}
#spring-main {
	background: url(../photos/spring2.jpg);
	background-position: cover;
}
#summer-main {
	background: url(../photos/summer.jpg);
	background-position: cover;
}
#fall-main {
	background: url(../photos/fall.jpg);
	background-position: cover;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;


