* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Arial, sans-serif;
	text-align: center;
  	padding: 10px 100px;
 	margin: 0px;
 	background: radial-gradient(white, pink, blue);
 	background-size: cover;
 	background-repeat: no-repeat;
}
header {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	margin: 0;
	padding: 0;
	color: blue;
	font-size: 40px;
}
h1, h2 {
	color: blue;
	padding: 1em;
	margin: 0;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}
h3 {
	padding: 10px;
}
p {
	color: black;
	margin: auto;
	line-height: 2em;
	font-family: sans-serif;
}
p.ex {
	height: 400px;
	width: 500px;
	font-size: 16px;
	padding-top: 50px;
	margin: auto;
	font-family: 'Diplomata SC', cursive;
}
a {	
	text-decoration: none;
	color: blue;
	padding: 10px;
	margin: 0;
}
nav {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	font-family: Georgia, serif;
	padding: 50px;
	width: 100%;
	clear: both;
}
li {
	text-decoration: none;
}
img {
	margin: auto;
	display: inline;
	height: 300px; 
	width: 200px;
    padding: 0;
}
#logo {
	display: inline;
	width: 100px;
	height: 100px;
	padding: 0;
	margin: 0;
}
#logo1 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
#fb, #twitter, #pinterest, #linkedin, #home, #phone, #mail {
	display: inline;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
}	
.photo {
	margin: 0 100px 0 0;
}
#footer {
	background-color: transparent;
	font-style: italic;
	font-family: Georgia, serif;
	bottom: 0;
	text-align: bottom;
	clear: both;
}
.column-left{
	float: left;
	width: 33%;
}
.column-center{
	width: 33%;
	display: inline-block;
	max-height: 20px;
	margin: 0 100px 0 0;
}
.column-right{
	float: right;
	width: 20%;
	height: 20%;
	margin: auto;
}
.experience{
	float: left;
	width: 50%;
	display: inline-block;
}
.education{
	float: right;
	width: 50%;
	display: inline-block;
}
#container {
	width: auto;
}
#part1 {
	float: left;
	width: 50%;
	display: inline-block;
}
#part2 {
	float: left;
	width: 50%;
	display: inline-block;
}
