* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size: 20px;
}
h1 {
	padding:25% 0 0 25%;
	text-align: center;
}
li {
	text-align: left;
	font-style: italic;
	padding: auto;
}
ul {
	text-align: center;
	list-style-type: none;
	padding: 10px 10px 10px 10px;
}
#slogan {
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#photo {
    background: url(../photos/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
}
