#slogan {
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#photo
    background: url(photos/background.jpg);
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
body {
	text-align: left;
	padding: auto;
	font-size: 20px;
}
h1, title {
	text-align: center;
}
li {
	text-align: left;
	font-style: italic;
	padding: auto;
}
ul {
	text-align: center;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
}

